.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.btn {
    border-radius: 4px;
    padding: 6px 22px;
    border: none;

    color: $primary-text-color;
    background-color: $bg-card-color;

    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
    transition: background-color 250ms $timing-function,
        color 250ms $timing-function;

        &:hover,
        &:focus {
            color: $primary-bg-color;
            background-color: $accent-text-color;
            }

        &.current-btn {
            color: $primary-bg-color;
            background-color: $accent-text-color;
            }
}