.socials__list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.socials__link {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $primary-icon-color;
    background-color: $primary-bg-color;
    transition: background-color 250ms $timing-function,
        color 250ms $timing-function;
        &:hover,
        &:focus {
            border-radius: 50%;
            color: $primary-bg-color;
            background-color: $accent-text-color;
        }
}

.socials__icon {
    height: 20px;
    width: 20px;
    fill: currentColor;
    position: absolute;
}

/* social footer */
.foot-icon {
    border: none;
    width: 44px;
    height: 44px;
    fill: $primary-icon-color;
    background-color: $bg-footer-icon;
    border-radius: 50%;
    cursor: pointer;
}